<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">Welcome to our shop.</h1>
        </div>
        <hr>
        <div class="col-12">
            <p class="lead">The best online shop in your area with biggest diversity, biggest quality and bigest quantity in clothes.</p>
        </div>
    </div>
</div>

<hr class="my-4">
<figure>
    <div class="fixed-wrap">
        <div id="fixes">
        </div>
    </div>
</figure>